.page-template-about {

  article {
    margin: 10%;

    .entry-title {
      color: $color__title;
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      @include desktop {
        font-size: 70px;
      }
    } /* .entry-title */

    .entry-content {
      color: $color__title;
      font-size: 25px;
      font-weight: normal;
      line-height: 30px;
      text-align: center;
      @include desktop {
        font-size: 36px;
        font-style: italic;
        line-height: 45px;
      } 
    } /* .entry-content */
  } /* article */

  .about-content-container {

    margin: 10%;

    .about-title {
      color: $color__title;
      font-size: 32px;
      font-weight: bold;
      // padding-bottom: 7.5%;
      text-align: center;
      text-transform: uppercase;
      @include desktop {
        font-size: 70px;
      }
    } /* .about-title */

    hr {
      background-color: $color__lincedgegreen;
      display: block;
      height: 3px;
      visibility: hidden;
      width: 20%;
      @include desktop {
        visibility: visible;
      }
    } /* hr */

    .about-description {
      color: $color__text-main;
      font-size: 25px;
      font-weight: normal;
      line-height: 30px;
      text-align: center; // CONSULT ON USAGE //
      @include desktop {
        background-color: #ffffff; 
        border: 1px solid #ffffff;
        border-radius: 5px;
        display: flex;
        align-items: center;
        font-size: 36px;
        line-height: 45px;
        padding: 2.5%;
        width: 1080px; /* TEMPORARY SOLUTION */
      }
      img {
        order: 2;
        height: 230px;
        width: 520px;
        @include desktop {
          height: 410px; /* 386px initial + 7.5% (padding-top) */
          width: 590px;
        } 
      } /* img */
      .about-text {
        order: 1;
        padding: 0 20px;
      }
    } /* .about-description */

    &:nth-of-type(odd) {
      .about-description {
        img {
          order: 1;
        }
        .about-text {
          order: 2;
        }
      }
    }

  } /* .about-content-container */

} /* .page-template-about */
