.page-template-about {

    .entry-content {
      width: 65%;
      margin: 2rem auto 0 auto;
      color: $color__lincedgeblue;
      font-size: 1.5rem;
      font-weight: normal;
      line-height: 30px;
      text-align: center;
      @include desktop {
        font-size: 36px;
        font-style: italic;
        line-height: 45px;
        text-align: left;
      }
      p {
        margin: 0;
      } 
    } /* .entry-content */

  .about-container {
    margin-top: 2rem;
    @include desktop {
      margin-top: 4rem;
    }
    .about-content-container {
      background-color: #ffffff; 
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 0 auto 2rem auto;
      justify-content: center;
      @include desktop {
        align-items: center;
        background-color: #ffffff; 
        border: 1px solid #ffffff;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        // justify-content: flex-start;
        width: 80%;
        margin-bottom: 4rem;
        padding: 0;
        &:nth-of-type(odd) {
          .about-image-group {
            order: 2;
          }
          .about-text-group {
            order: 1;
          }
        }
      }
    } /* .about-content-container */ 

    .about-text-group {
      display: flex;
      flex-direction: column;
      @include desktop {
        margin: 0% 5% 0% 5%;
        order: 2;
        width: 35%;
      }
    } /* .about-text-group */

    .about-title {
      color: $color__lincedgeblue;
      display: flex;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 0;
      @include desktop {
        // border-bottom: 5px solid $color__lincedgegreen;
        font-size: 2rem;
        justify-content: flex-start;
        margin-bottom: 1.5rem; 
      }
      @media screen and (min-width: 850px) {
        font-size: 2.5rem;
      } 
    } /* .about-title */

    .about-description {
      color: $color__text-main;
      font-size: 1rem;
      line-height: 1.75;
      @include desktop {
        font-size: 1.15rem;
        line-height: 1.5;
      }
      @media screen and (min-width: 850px) {
        font-size: 1.25rem;
      } 
    }

    .about-image-group {
      @include desktop {
        // margin: 5%;
        order: 1;
        height: auto;
        width: 45%;
      }
      img {

      } /* img */
    } /* .about-image-group */

  } /* .about-container */

  .customer-container {
    background: $color__background-body;
    @include desktop {
      background: #fff;
    }
  }
  .customer-header {
    color: $color__lincedgeblue;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0;
    text-align: center;
    text-transform: uppercase;
  } /* .customer-header */

  .flickity-viewport {
    height: 200px !important;
  } /* .flickity-viewport */

  .carousel {
    height: 200px;
    width: 100%;
    img {
      height: 125px;
      width: 250px;
    }
    .carousel-cell {
      height: 200px;
      width: 100%;
    }
    .flickity-page-dots {
      margin: 5% auto;
      @include desktop {
        margin: 2.5% auto;
      }
    }
    .flickity-button {
      visibility: hidden;
      @include desktop {
        visibility: visible;
      }
    }
    .flickity-prev-next-button.previous {
      left: 20.5%;
      top: 32.5%;
    }
    .flickity-prev-next-button.next {
      right: 20.5%;
      top: 32.5%;
    }
  } /* .carousel */

  .customer-content-container {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    // background: #fff;
  } /* .customer-content-container */

} /* .page-template-about */