.page-template-about {

  article {
    margin: 10%;

    .entry-title {
      color: $color__title;
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      @include desktop {
        font-size: 70px;
      }
    }

    .entry-content {
      color: $color__text-main;
      font-size: 25px;
      font-weight: normal;
      line-height: 30px;
      text-align: center;
      @include desktop {
        font-size: 36px;
        font-style: italic;
        line-height: 45px;
      }
    }
  }

  .about-content-container {
    margin: 10%;

    .about-title {
      color: $color__title;
      font-size: 32px;
      font-weight: bold;
      padding-bottom: 7.5%;
      text-align: center;
      text-transform: uppercase;
      @include desktop {
        font-size: 70px;
      }
    }

    .about-description {
      color: $color__text-main;
      font-size: 25px;
      font-weight: normal;
      line-height: 30px;
      text-align: center;
      @include desktop {
        font-size: 36px;
        line-height: 45px;
        border: 1px solid #ffffff;
        background-color: grey; 
        border-radius: 5px;
      }
      img {
        height: 280px;
        width: 520px;
        padding-top: 7.5%; /* Temporary, will need to be reversed due to repositioning of images */
        @include desktop {
          height: 410px; /* 386px initial + 7.5% (padding-top) */
          width: 590px;
        }
      }
    }
  }

}