.page-template-about {

  article {
    margin: 10%;
    color: $color__title;
    .entry-title {
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      font-size: 32px;
      @include desktop {
        font-size: 70px;
      }
    }
    .entry-content {
      font-size: 25px;
      line-height: 30px;
      font-style: normal;
      @include desktop {
        font-size: 36px;
      }
    }
  }

  .about-content-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    .about-title {
      font-size: 48px;
      font-weight: bold;
      color: $color__title;
    }
    .about-description {
      font-size: 20px;
      line-height: 36px;
      display: flex;
      img {
        height: 385px;
        width: 575px;
      }
    }
  }
}