.page-template-about-team {
    // 1rem = 16px | 1.25rem = 20px | 1.5rem = 24px | 2rem = 32px
    h2.team-comment {
        width: 75%;
        margin: 1rem auto 3.5rem auto;
        text-align: center;
        font-size: 1.25rem;
        font-weight: normal;
        line-height: 1.25;
    }
    .team-general-container,
    .team-co-op-container {
        // width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .member-profile {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        // width: 73vw;        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.5rem;
        img.headshot {
            width: 185px;
            margin-bottom: 0.75rem;
        }
        h2 {
            font-size: 1.5rem;
            font-weight: normal;
            margin: 0;
            text-align: center;
            color: $color__lincedgeblue; 
        }
        h3 {
            font-size: 1.15rem;
            font-weight: normal;
            margin: 0;
            text-align: center;
            margin-bottom: 0.75rem;
        }
    }
    .collapseomatic {
        background-size: contain;
        padding: 0;
        cursor: pointer;
        width: 40px;
        height: 20px;
    }
    .collapseomatic_content {
        margin-left: 0;
        p {
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }
    .additional-title {
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: $color__lincedgeblue; 
    }
}

.page-template-about-team {
    //make these globals eventually
    .entry-title {
        padding: 1.5rem 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: $color__lincedgeblue; 
        @include desktop {
            font-size: 4.5rem;
            padding-top: 4.25rem;
            }
        }
    .title-underline {
        @include desktop {
            position: relative;
            &:after {
                position: absolute;
                content: '';
                height: 3px;
                bottom: -10px; 
                margin: 0 auto;
                left: 0;
                right: 0;
                width: 100%;
                background: $color__lincedgegreen;
            }
        }    
    }
    #masthead {
        // position: fixed;
        top: 0;
        // left: 0;
        width: 100%;
        z-index: 9999;
    }
    .site-content {
        // margin-top: 48px;
        background: #fff;
        @include desktop {
            // margin-top: 143px;
        }
    }
}

// .arrow-show-more:hover {
//     // background: red;
// }