.page-template-about-team {
    // 1rem = 16px | 1.25rem = 20px | 1.5rem = 24px | 2rem = 32px
    h2.team-comment {
        width: 75%;
        margin: 1rem auto 3.5rem auto;
        text-align: center;
        font-size: 1.25rem;
        font-weight: normal;
        line-height: 1.25;
    }
    .team-general-container,
    .team-co-op-container {
        // width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
  
    .member-profile {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        // width: 73vw;        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.5rem;
        @include desktop {
            position: relative;
            background: #fff;
            min-height: 200px;

            flex-direction: row;
            // align-items: flex-start;
            // margin-right: 10px;
        }
        img.headshot {
            width: 185px;
            margin-bottom: 0.75rem;
            @include desktop {
                margin: 0;
                // position: absolute;
                // left: 0;
                // top: 11px;
            }
        }
        h2 {
            font-size: 1.5rem;
            font-weight: normal;
            margin: 0;
            text-align: center;
            color: $color__lincedgeblue;
            @include desktop {
                font-size: 2rem;
                text-align: left;
            }
        }
        h3 {
            font-size: 1.15rem;
            font-weight: normal;
            margin: 0;
            text-align: center;
            margin-bottom: 0.75rem;
            @include desktop {
                text-align: left;
            }
        }
        .member-profile-inner {
            height: auto;
            width: auto;
            @include desktop {
                margin-left: 2rem;
                width: 100%;
            }
        }
    }
    .collapseomatic {
        background-size: contain;
        padding: 0;
        cursor: pointer;
        width: 40px;
        height: 20px;
        @include desktop {
            display: none;
        }
    }
    .collapseomatic_content {
        margin-left: 0;
        p {
            margin-top: 0;
            margin-bottom: 1rem;
        }
        @include desktop {
            display: none;
        }
    }
    
    .expand-bio {
        display: block;
        margin: 0 auto;
        @include desktop {
            margin: 0 60% 0 40%;
            display: none;
        }
    }
    .bio-excerpt {
        display: none;
        @include desktop {
            display: block;
        }
    }
    .arrow-show-more,
    .arrow-show-less {
        display: none;
        @include desktop {
            cursor: pointer;
            display: inline-block;
            width: 35px;
            height: 15px;
            margin: 0 60% 0 40%;
        }
    }
    .additional-title {
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: $color__lincedgeblue; 
        @include desktop {
            font-size: 3rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}