.page-id-9 {
h2,h3{
    color:$color__title;
}

.entry-title{
    
    display:none;
    @include desktop{
        display:block;
    }
}
.entry-content{
    h2{
        text-align:center;
        text-transform:uppercase;
        font-size:30px;
        
        
    }
}
.contact-info-container{
    hr{
        margin-left:0px;
        background-color:$color__lincedgegreen;
        height:3px;
    }
    .info-title{
        margin-bottom: 0;
        width:300px;
    }
    h3{
        font-size:25px;
    }
    p{
        font-size:21px;
    }
    margin-left:7%;
    width:200px;
    .appointment{
        width:500px;
        font-size:1rem;
    }
    
}
.map-container{
 
iframe{
    margin-left:7%;
    max-width:700%;
    height:300px;
}
}
.question-container{
    text-align:center;
    button{
    margin-top:14px;
    border-radius: 30px;
    height:43px;
    width:240px;
    text-transform:uppercase;
    font-size:18px;
    background-color:$color__lincedgegreen;
    color:white;
    font-weight:bold;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    }
    .comments-questions{
    color:$color__title;
    font-size:20px;
    font-weight:bold;
    
    }
}
.gform_title {
    display: none 
}




}