/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

// Testimonials 
.testimonial {
	color: #fff;
	background-color: $color__lincedgeblue;
	width: 100%;
	height: 250px;
	display: flex;
	align-items: center;
	.testimonial-inner {
		display: flex;
		align-items: center;
		width: 75%;
		margin: 0 auto;
	}
	img {
		width: 20vw;
		height: 20vw;
		display: block;
	}
	.endorsement {
		margin-left: 2rem;
	}
	p {
		font-style: italic;
		font-size: 1.25rem;
	}
	h2 {
		font-weight: normal;
		font-size: 1.25rem;
	}
}
// GLOBAL title style
h1 {
	margin: 0;
}
.entry-title {
	@include page-title-style;
}

// GLOBAL margin beneath fixed header
.site-content {
	// margin-top: 48px;
	// @include desktop {
	// 	margin-top: 143px;
	// }
}