/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
  display: block;
} /* .sticky */

.hentry {
  margin: 0 0 $base__space-unit;
} /* .hentry */

.updated:not(.published) {
  display: none;
} /* .updated:not(.published) */

.single .byline,
.group-blog .byline {
  display: inline;
} /* .single .byline .group-blog .byline */

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
} /* .page-content .entry-content .entry-summary */

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
} /* .page-links */

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
} /* .blog .format-aside .entry-title .archive .format-aside .entry-title */

/* Comments */

.comment-content a {
  word-wrap: break-word;
} /* .comment-content a */

.bypostauthor {
  display: block;
} /* .bypostauthor */

/* Testimonials */

.testimonial {
  color: #fff;
  background: linear-gradient(#fff 87.5px, $color__lincedgeblue 87.5px, $color__lincedgeblue 100%);
  width: 100%;
  margin: 2rem 0;
  @include desktop {
    background: linear-gradient($color__background-body 87.5px, $color__lincedgeblue 87.5px, $color__lincedgeblue 100%); 
  }
  @media screen and (min-width: 850px) {
    background: $color__lincedgeblue;
  }
  @media screen and (min-width: 1172px) {
    background: linear-gradient($color__background-body 12%, $color__lincedgeblue 12%, $color__lincedgeblue 88%, $color__background-body 88%, $color__background-body 100%);
  }
  .testimonial-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 2rem;
    @media screen and (min-width: 850px) {
      flex-direction: row;
      padding-bottom: 0;
      max-height: 285px;
    }
  } /* .testimonial-inner */
  img {
    display: block;
    width: 175px;
    @media screen and (min-width: 850px) {
      position: relative;
      width: 24vw;
      height: 24vw;
      max-width: 285px;
      max-height: 285px;
    }
  } /* img */
  .endorsement {
    @media screen and (min-width: 850px) {
      margin-left: 2rem;
    }
  } /* .endorsement */
  p {
    font-style: italic;
    font-size: 1.1rem;
    padding: 1.5rem 0 1rem;
    margin: 0;
    @media screen and (min-width: 850px) {
      padding-top: 0;
      font-size: 1.25rem;
    }
  } /* p */
  h2 {
    margin: 0;
    font-weight: normal;
    font-size: 1.1rem;
    &::before {
      content: "-";
      padding-right: 0.5rem;
    }
    @media screen and (min-width: 850px) {
      font-size: 1.25rem;
    }
  } /* h2 */
} /* .testimonial */

/* GLOBAL margin beneath fixed header */

.site-content {
  margin-top: 48px;
  background: #fff;
  @include desktop {
    margin-top: 108px;
    background: $color__background-body;
  }
} /* .site-content */

/* GLOBAL title style */

h1 {
  margin: 0;
} /* h1 */

.entry-title {
  padding: 1.5rem 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: $color__lincedgeblue;
  @include desktop {
    font-size: 3.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
} /* .entry-title */

.title-underline {
  @include desktop {
    position: relative;
    &:after {
      position: absolute;
      content: '';
      height: 4px;
      bottom: -10px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 100%;
      background: $color__lincedgegreen;
    }
  }
} /* .title-underline */

.title-underline-short {
  @include desktop {
    position: relative;
    &:after {
      position: absolute;
      content: '';
      height: 3px;
      bottom: -10px;
      margin: 0 auto;
      left: 0;
      width: 60px;
      background: $color__lincedgegreen;
    }
  }
} /* .title-underline-short */


/* GLOBAL button style */

a.linc-edge-button {
  @include linc-button-style;
} /* .linc-edge-button */

/* Sticky Footer */

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .site-header {}
  .site-content {
    flex-grow: 1;
  }  /* .site-content */
  .site-footer {}
} /* .site */