/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

// Testimonials 
.testimonial {
	color: #fff;
	background-color: $color__lincedgeblue;
	width: 100%;
	display: flex;
	align-items: center;
	height: 350px;
	margin-top: 6rem;
	@include desktop {
		height: 250px;
		margin-top: 3rem;
	}
	.testimonial-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 75%;
		margin: 0 auto;
		position: relative;
		@include desktop {
			flex-direction: row;
		}
	}
	img {
		width: 175px;
		position: absolute;
		top: -45%;
		@include desktop {
			position: relative;
			width: 20vw;
			height: 20vw;
		}
		display: block;
	}
	.endorsement {
		@include desktop {
			margin-left: 2rem;
		}
	}
	p {
		font-style: italic;
		font-size: 1.1rem;
		margin-top: 5rem;
		@include desktop {
			margin-top: 0;
			font-size: 1.25rem;
		}
	}
	h2 {
		font-weight: normal;
		font-size: 1.1rem;
		@include desktop {
			font-size: 1.25rem;
		}
	}
}

// GLOBAL margin beneath fixed header
.site-content {
	margin-top: 48px;
	background: #fff;
	@include desktop {
		margin-top: 108px;
		background: $color__background-body;
	}
}
// GLOBAL title style
h1 {
	margin: 0;
}
.entry-title {
	padding: 1.5rem 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5rem;
	color: $color__lincedgeblue; 
	@include desktop {
		font-size: 3.5rem;
		padding-top: 3rem;
		padding-bottom:3rem;
		}
}
.title-underline {
	@include desktop {
		position: relative;
		&:after {
			position: absolute;
			content: '';
			height: 4px;
			bottom: -10px; 
			margin: 0 auto;
			left: 0;
			right: 0;
			width: 100%;
			background: $color__lincedgegreen;
		}
	}    
}
.title-underline-short {
	@include desktop {
		position: relative;
		&:after {
			position: absolute;
			content: '';
			height: 3px;
			bottom: -10px; 
			margin: 0 auto;
			left: 0;
			width: 60px;
			background: $color__lincedgegreen;
		}
	}    
}
