.site-footer{
    background-color:#012f46;
    
    justify-content:center;
    align-items:center;
    display:flex;
    margin-top:50px;
    height:200px;
    width:100%;
    
    @include desktop{
        height:260px;
    }

    .widget-area{
        margin-top: 50px;

     
    }



    .site-info{
        line-height:0;
        
    
        span,p{
        color:white;

        }
        span{
         font-size:2rem;
        }
        p{
            font-size:1rem;
        }
        @include desktop{
        margin-top:0;
        line-height:0;
        span{
            font-size:3rem;
            
        }
        p{
            font-size:1.3rem;
            
        }
        }
    }
    .icon-container{
        display:flex;
        margin:0 auto;
        justify-content:space-between;
        width:200px;


        @include desktop{
        width:250px;
        }
    }
    .footer-text-container{
        margin-top: 50px;
        display:flex;
        justify-content: space-between;
    
        @include desktop{
        width: 100%;

        }
       

    }
    .footer-policy{
        display:none;
        @include desktop{
        text-decoration: underline;
        display:block;
        }

    }


}
