.home {
  .banner-container {
    margin-top: -32px;
    @include desktop {
      height: 690px !important;
    }
    .banner-text {
      color: white;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 60%;
      font-size: 1.25rem;
      text-shadow: 2px 2px 2px rgba(56, 56, 56, 0.5);
      @include desktop {
        font-size: 2.5rem;
        height: 50%;
      }
    } /* .banner-text */
    .download-container {
      display: flex;
      justify-content: space-around;
      text-align: center;
      margin-left: 15%;
      margin-right: 15%;
      flex-direction: column;
      margin-top:-25px;
      @include desktop {
        flex-direction: row;
        margin-left: 25%;
        margin-right: 25%;
      }
      .google-play-link {
        width: 125px;
        height: 100%;
        @include desktop {
          height: 100%;
          width: 180px;
        }
      } /* .google-play-link */
      .app-store-link {
        width: 125px;
        height: 100%;
        @include desktop {
          height: 100%;
          width: 180px;
        }
      } /* .app-store-link */
    } /* .download-container */
  } /* .banner-container */

  .signup-front-mobile {
    @include desktop {
      display: none;
    }
  } /* .signup-front-mobile */
  .signup-front-desktop {
    display: none;
    @include desktop {
      margin-top: 8%;
      display: flex;
    }
  } /* .signup-front-desktop */
  .theproblem-heading,
  .benefits-header,
  .features-header,
  .howworks-header {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: $color__lincedgeblue;
    margin: 6% 0 3% 0;
    @include desktop {
      font-size: 3rem;
      display: block;
      color: #012f46;
    }
  } /* .theproblem-heading .benefits-header .features-header .howworks-header */
  .theproblem-description {
    font-size: 1.25rem;
    width: 85%;
    margin: 0 auto;
    text-align: justify;
    @include desktop {
      width: 75%;
    }
  } /* .theproblem-description */
  .benefits-container,
  .features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include desktop {
      flex-direction: row;
      justify-content: space-around;
      width: 80%;
      margin: 0 auto;
    }
    .indiv-benefit,
    .indiv-feature {
      text-align: center;
      margin-bottom: 1rem;
    } /* .indiv-benefit .indiv-feature */
    .benefits-image,
    .features-image {
      width: 180px;
      height: 180px;
      @include desktop {
        width: 20vw;
        height: 20vw;
      }
    } /* .benefits-image .features-image */
    .benefits-title,
    .features-title {
      text-align: center;
      font-weight: bold;
      color: $color__lincedgeblue;
      font-size: 18px;
      margin: 0;
    } /* .benefits-title .features-title */
    p {
      margin-bottom: 0;
    } /* p */
  } /* .benefits-container .features-container */
  .howworks-container {
    width: 100%;
    .non-carousel {
      display: none;
      position: relative;
      @include desktop {
        display: flex;
        justify-content: space-between;
        text-align: center;
      }
      .hw-inner-container {
        @include desktop {
          background-color: $color__lincedgeblue;
          height: 500px;
          width: 24vw;
          position: relative;
          &:not(:first-child) {
            border-left: 1px solid #fff;
          }
          &:not(:last-child) {
            &:after {
              content: '';
              width: 50px;
              height: 50px;
              position: absolute;
              left: 101%;
              bottom: 50%;
              transform: translateX(-50%);
              background: url(../../images/green-arrow-right.png);
              background-size: contain;
              border-radius: 50%;
              z-index: 1;
            }
          }
        }
      } /* .hw-inner-container */
      .howworks-title {
        @include desktop {
          color: white;
          font-size: 24px;
          margin-left: 24.5%;
          margin-right: 24.5%;
          text-align: center;
          margin-top: 20%;
        }
      } /* .howworks-title */
      img {
        @include desktop {
          margin-top: 40%;
          width: 97px;
          height: 80px;
        }
      } /* img */
    } /* .non-carousel */
    .carousel {
      @include desktop {
        display: none;
      }
      height: 225px;
      width:100%;
      .carousel-cell {
        width: 100%; 
        text-align: center;
      } /* .carousel-cell */
      img {
        height: 100px;
      } /* img */
      .flickity-page-dots {
        bottom: 5%;
      } /* .flickity-page-dots */
      .flickity-button {
        display: none;
      } /* .flickity-button */
      .howworks-title {
        font-weight: bold;
        color: $color__lincedgeblue;
        width: 50%;
        margin: 0 auto;
        margin-top: 5%;
      } /* .howworks-title */
    } /* .carousel */
  } /* .howworks-container */
  .join-beta-container {
    margin: 3rem;
    text-align: center;
    .join-beta-title {
      margin: 0;
      color: $color__lincedgeblue;
      font-size: 1.5rem;
      @include desktop {
        font-size: 2.5rem;
      }
    } /* .join-beta-title */
  } /* .join-beta-container */
} /* .home */