.page-template-front-page{


    //ASK JIM ABOUT THIS, NEGATIVE MARGIN
.banner-container{
margin-top:-24px;
.banner-text{
    color:white;
    font-weight:bold;
    display:flex;
    justify-content: center;
    height:60%;
    align-items:center;
}

@include desktop{
    
}


}


}