#masthead {
  background-color: #012f46;
  // display: flex;
  // justify-content: center;
  // width: 100%;
  // height: 100%;
}

.menu-navigation {
  border-bottom: 5px solid red;
  // testing
  height: 80px;
  line-height: 80px;

  ul.menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
		li {
			display: inline;
    }
    a {
      text-decoration: none;
      display: block;
      color: #fff;
      background: #012F46;
      border-bottom: 1px solid #fff;
      @include desktop {
        display: inline;
        background: none;
        border-bottom: none;
        margin: 0 5px;
      }
    }
    &.is-active {
      display: block;
      height: 100vh;
    }
  }
}
 
//  .site-logo {
//   display: flex;
//   width: $desktop__width;
//   justify-content: center;
//   position: relative;
//   @include desktop {
//   }
//   img.hamburger-menu {
//     align-self: center;
//     position: absolute;
//     left: 0;
//     @include desktop {
//         display: none;
//     }
//   }
//   img.mobile-logo {
//     @include desktop {
//       display: none;
//     }
//   }
//   img.desktop-logo {
//     display: none;
//     @include desktop {
//         display: inline;
//     }
//   }
//  }
 
//  // .masthead-flex {
//  //     display: flex;
//  //     margin-left: 3%;
//  //     margin-right: 3%;
//  //     justify-content: space-between;
//  //     align-items: flex-end;
 
//  // }
 
//  nav.main-navigation {
//   display: none;
//   @include desktop {
//       display: block;
//   }
//  }
 
//  .site-title {
//     display: none;
//  }
