#masthead {
  background-color: $color__lincedgeblue;
  height: 48px;
  @include desktop {
    height: 143px;
  }
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // z-index: 9999;
}

.menu-navigation {
  height: 100%;
  position: relative;
  ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 50px;
    border-top: 1px solid #ffffff;
    display: none;
    // JS on click, add class .is-active
    &.is-active {
      display: block;
    }
    @include desktop {
      display: block;
      border-top: none;
      margin-top: 3.5rem;
    }
		li {
      display: inline;
    }
    a {
      text-decoration: none;
      font-size: 1.25rem;
      display: block;
      color: #ffffff;
      background: $color__lincedgeblue;
      border-bottom: 1px solid #fff;
      padding-left: 1rem;
      &:hover {
        background: $color__lincedgegreen;
      }
      @include desktop {
        display: inline;
        background: none;
        border-bottom: none;
        padding-left: 0;
        margin: 0 2rem;
        &:hover {
          background: none;
          color: $color__lincedgegreen;
        }
      }
    }
  }
  .mobile-logo {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 40px;
    @include desktop {
      display: none;
    }
  }
  .desktop-logo {
    display: none;
    @include desktop {
      display: inline;
    }
    position: absolute;
    top: 18%;
    left: 6.5%;
    width: 148px;
  }
}


@include desktop {
  .menu-menu-container {
    display: flex;
    justify-content: flex-end;
    max-width: 1440px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  li {
    padding: 15px 0px;
  }
  .sub-menu {
    position: absolute;
    padding-left: 0;
    z-index: 2;
    display: none;
    li {
      padding-top: 15px;
    }
  }
  // Home link
  ul.menu .menu-item-156 a {
    display: none;
  }
  // Sign Up link
  ul.menu .menu-item-25 {
    background-color: $color__lincedgegreen;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    // text-transform: uppercase; /* Consult */
    padding: 0.5rem 0;
    margin-right: 2rem;
    a:hover {
      color: #ffffff;
    }
  }
  .menu-item-21 {
    &:hover {
      .sub-menu {
        display: flex;
        flex-direction: column;
        right: 275px;
      }
    }
  }
  .menu-item-24 {
    &:hover {
      .sub-menu {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

ul.sub-menu {
  background: $color__lincedgeblue;
  margin: 0;
}

