#masthead {
  background-color: #012f46;
  height: 48px;
  @include desktop {
    height: 144px;
  }
  // position: fixed
}

.menu-navigation {
  height: 100%;
  position: relative;
  ul.menu {
    display: none;
    &.is-active {
      display: block;
    }
    @include desktop {
      display: block;
    }
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 40px;
    border-top: 1px solid #fff;
		li {
      display: inline;
    }
    a {
      text-decoration: none;
      display: block;
      color: #fff;
      background: #012F46;
      border-bottom: 1px solid #fff;
      padding-left: 1rem;
      &:hover {
        color: white;
        background: #97C13B;
      }
      @include desktop {
        display: inline;
        font-size: 24px;
        background: none;
        border-bottom: none;
        margin: 0 5px;
        color: skyblue;
      }
    }
  }
  .mobile-logo {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 40px;
    @include desktop {
      display: none;
    }
  }
  .desktop-logo {
    display: none;
    @include desktop {
      display: inline;
    }
    position: absolute;
    top: 18%;
    left: 3%;
    width: 148px;
  }
}
 
