#masthead {
  background-color: $color__lincedgeblue;
  height: 48px;
  @include desktop {
    height: 144px;
  }
  // position: fixed
}

.menu-navigation {
  height: 100%;
  position: relative;
  ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 40px;
    border-top: 1px solid #ffffff;
    display: none;
    &.is-active {
      display: block;
    }
    @include desktop {
      display: block;
      border-top: none;
      margin-top: 2rem;
    }
		li {
      display: inline;
      text-align: left;
    }
    a {
      text-decoration: none;
      display: block;
      color: #ffffff;
      background: $color__lincedgeblue;
      border-bottom: 1px solid #fff;
      padding-left: 1rem;
      &:hover {
        background: $color__lincedgegreen;
      }
      @include desktop {
        display: inline;
        font-size: 20px;
        background: none;
        border-bottom: none;
        padding-left: 0;
        margin: 0 1rem;
        &:hover {
          background: none;
          color: $color__lincedgegreen;
        }
      }
    }
  }
  .mobile-logo {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 40px;
    @include desktop {
      display: none;
    }
  }
  .desktop-logo {
    display: none;
    @include desktop {
      display: inline;
    }
    position: absolute;
    top: 18%;
    left: 3%;
    width: 148px;
  }
}

.menu-menu-container {
  @include desktop {
    height: 143px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/* currently working below - Ryan */

#menu-item-25 {
  @include desktop {
    background-color: $color__lincedgegreen;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #ffffff;
    font-size: 16px;
    padding: 0.1rem 1rem 0.1rem 1rem;
    display: inline-block;
    // text-transform: uppercase; /* Consult */
    a:hover {
      color: #ffffff;
    }
  }
}

#primary-menu { 
  @include desktop {
  margin: 10px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  }
}

// Changing sub-menus on desktop view
#menu-item-109,
#menu-item-110,
#menu-item-113,
#menu-item-114 {
  @include desktop {
  display: none;
    a {
      text-decoration: none;
      display: block;
      color: #ffffff;
      background: $color__lincedgeblue;
      border-bottom: 1px solid #fff;
      padding-left: 1rem;
      &:hover {
        color: $color__lincedgegreen;
        visibility: visible;
      }
    }
  }
}

ul.sub-menu {
  background: $color__lincedgeblue;
  margin: 0;  
}