// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin desktop {
	@media (min-width: $desktop__width) {
		@content;
	}
}

@mixin product {
	@media (max-width: $product__width) {
		@content;
	}
}

@mixin page-title-style {

}

@mixin linc-button-style {
	
}