/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
  color: $color__link;
  &:visited {
    color: $color__link-visited;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
  text-decoration: none;
} /* a */

/* Menus */

.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: $base__space-unit;
      left: -999rem;
      z-index: 99999;
      ul {
        left: -999rem;
        top: 0;
      } /* ul */
      li {
        &:hover>ul,
        &.focus>ul {
          left: 100%;
        }
      } /* li */
      a {
        width: 200px;
      } /* a */
      :hover>a,
      .focus>a {}
      a:hover,
      a.focus {}
    } /* ul */
    li:hover>ul,
    li.focus>ul {
      left: auto;
    } /* li:hover>ul li.focus>ul */
  } /* ul */
  li {
    float: left;
    position: relative;
    &:hover>a,
    &.focus>a {}
  } /* li */
  a {
    display: block;
    text-decoration: none;
  } /* a */
  .current_page_item>a,
  .current-menu-item>a,
  .current_page_ancestor>a {}
} /* .main-navigation */

/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
  display: block;
} /* .menu-toggle .main-navigation .toggled ul */

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  } /* .menu-toggle */
  .main-navigation ul {
    display: block;
  } /* .main-navigation ul */
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 $base__space-unit;
    overflow: hidden;
  }
  .nav-previous {
    float: left;
    width: 50%;
  } /* .nav-previous */
  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  } /* .nav-next */
} /* .comment-navigation .posts-navigation .post-navigation .site-main */

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: $color__lincedgegreen;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
} /* #back-to-top-btn */

#back-to-top-btn:hover {
  
}