html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
} /* html */

body {
  margin: 0;
} /* body */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
} /* article aside details figcaption figure footer header main menu nav section summary */

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
} /* audio canvas progress video */

audio:not([controls]) {
  display: none;
  height: 0;
} /* audio:not */

[hidden],
template {
  display: none;
} /* template */

a {
  background-color: transparent;
} /* a */

a:active,
a:hover {
  outline: 0;
} /* a:active a:hover */

abbr[title] {
  border-bottom: 1px dotted;
} /* abbr */

b,
strong {
  font-weight: bold;
} /* b strong */

dfn {
  font-style: italic;
} /* dfn */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
} /* h1 */

mark {
  background: #ff0;
  color: #000;
} /* mark */

small {
  font-size: 80%;
} /* small */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
} /* sub sup */

sup {
  top: -0.5em;
} /* sup */

sub {
  bottom: -0.25em;
} /* sub */

img {
  border: 0;
} /* img */

svg:not(:root) {
  overflow: hidden;
} /* svg:not */

figure {
  margin: 1em 40px;
} /* figure */

hr {
  box-sizing: content-box;
  height: 0;
} /* hr */

pre {
  overflow: auto;
} /* pre */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
} /* code kbd pre samp */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
} /* button input optgroup select textarea */

button {
  overflow: visible;
} /* button */

button,
select {
  text-transform: none;
} /* button select */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
} /* input */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
} /* fieldset */

legend {
  border: 0;
  padding: 0;
} /* legend */

textarea {
  overflow: auto;
} /* textarea */

optgroup {
  font-weight: bold;
} /* optgroup */

table {
  border-collapse: collapse;
  border-spacing: 0;
} /* table */

td,
th {
  padding: 0;
} /* td th */