/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Sticky Footer */

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .site-header {
  }
  .site-content {
    flex-grow: 1;
  }
  .site-footer {
  }
}