.page-id-26{

  // Desktop only
  .pricing-plans-container {
    display: none;
    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
    }
    .pricing-plan-content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #ffffff; 
      border: 1px solid #ffffff;
      border-radius: 10px;
      width: 32%;
      img {
        align-self: center;
      }
      .pricing-plan-title {
        color: $color__lincedgeblue;
        font-weight: bold;
        font-size: 1.5rem;
        text-transform: uppercase;
        @media screen and (min-width: 950px) {
          font-size: 2rem;
        }
      }
      .pricing-plan-description {
        color: $color__text-main;
        font-size: 1rem;
        line-height: 1.5;
        margin: 0 10%;
        @media screen and (min-width: 850px) {
          font-size: 1.15rem;
        }
      }
      .pricing-plan-rate {
        color: $color__text-main;
        font-size: 1.25rem;
        line-height: 1;
      }
      .pricing-plan-button {
        border-radius: 30px;
        font-size: 1.15rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        background-color: $color__lincedgegreen;
        border: none;
        box-shadow: 0px 1px 2px $color__text-main;
        padding: 0.5rem .5rem;
        margin: 0 auto 15% auto;
        @media screen and (min-width: 850px) {
          font-size: 1.25rem;
          padding: 0.75rem 1.75rem;
        }
        &:hover {
          background-color: darken($color__lincedgegreen, 5%)
        }
        &:focus {
          box-shadow: inset 0px 1px 2px $color__text-main;
          transform: translateY(1px);
          outline: none;
        }
      } /* .pricing-plan-button */
    } /* .pricing-plan-content-container */
  } /* .pricing-plans-container */

  
  .subscription-description-container {
    @include desktop {
      margin-top: 3rem;
    }
    .subscription-description {
      text-align: center;
      color: $color__lincedgeblue;
      font-size: 1.25rem;
      font-weight: bold;
      margin: 0 1.5rem;
      @include desktop {
        font-size: 1.5rem;
      }
    } /* .subscription-description */
  } /* .subscription-description-container */



  .subscription-form-container {
    margin: 2rem auto 1rem auto;
    @include desktop {
      display: flex;
      justify-content: center;
      margin: 2rem auto 0 auto;
    }
  }

  .subscription-form-content-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    @include desktop {
      margin: 1rem;
    }
  } /* .subscribe-container */

  input.email-field {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 10rem;
    @include desktop {
      width: auto;
      padding-left: 1rem;
      padding-right: 10rem;
    }
  } /* input.email-field */

  input.submit-button {
    font-size: 1rem;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    border-radius: 30px;
    color: #fff;
    background-color: $color__lincedgegreen;
    border: none;
    box-shadow: 0px 1px 2px $color__text-main;
    @include desktop {
      font-size: 1.25rem;
    }
    &:hover {
      background-color: darken($color__lincedgegreen, 5%)
    }
    &:focus {
      box-shadow: inset 0px 1px 2px $color__text-main;
      transform: translateY(1px);
      outline: none;
    }
  } /* input.submit-button */

  .subscription-condition-container {
    .subscription-condition {
      width: 60%;
      text-align: center;
      color: lighten($color__text-main, 20%);
      font-size: 0.75rem;
      margin: 0 auto;
      @include desktop {
        font-size: 1rem;
      }
    } /* subscription-condition */
  } /* .subscription-condition-group */


} /* .page-template-price */