.page-template-price {
  .pricing-plan-container {
    display: none;
    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
    }
  } /* .pricing-plan-container */

  .pricing-plan-content-container {
    @include desktop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #ffffff; 
      border: 1px solid #ffffff;
      border-radius: 10px;
      width: 32%;
    }
  } /* .pricing-plan-content-container */

  .pricing-plan-image-group {
    @include desktop {
      align-self: center;
    }
  } /* .pricing-plan-image-group */

  .pricing-plan-text-group {
    @include desktop {
      display: flex;
      flex-direction: column;
      p {
        align-self: center;
      }
    }
  } /* .pricing-plan-text-group */
  
  .pricing-plan-title {
    @include desktop {
      color: $color__lincedgeblue;
      font-weight: bold;
      font-size: 1.5rem;
      text-transform: uppercase;
    }
    @media screen and (min-width: 950px) {
      font-size: 2rem;
    }
  } /* .pricing-plan-title */

  .pricing-plan-description {
    @include desktop {
      color: $color__text-main;
      font-size: 1.15rem;
      line-height: 1.5;
      margin: 0 15%;
    }
  } /* .pricing-plan-description */

  .pricing-plan-rate {
    @include desktop {
      color: $color__text-main;
      font-size: 1.25rem;
      line-height: 1;
    }
  } /* .pricing-plan-rate */

  .pricing-plan-button-group {
    @include desktop {
      align-self: center;
      margin-bottom: 15%;
      .pricing-plan-button {
        background-color: $color__lincedgegreen;
        border-radius: 30px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        color: #ffffff;
        font-size: 1.25rem;
        padding: 0.75rem 2rem;
        text-transform: uppercase;
      } /* .pricing-plan-button */
    }
  } /* .pricing-plan-button-group */

  .subscription-description-group {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  } /* .subscription-description-group */

  .subscription-description {
    align-self: center;
    color: $color__lincedgeblue;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 1.5rem;
    @include desktop {
      font-size: 1.5rem;
    }
  } /* .subscription-description */

  .subscription-form-content-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .subscription-form-group {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    @include desktop {
      margin: 1rem;
      width: 40%;
    }
  } /* .subscribe-container */

  input.email-field {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 10rem;
    @include desktop {
      width: auto;
      padding-left: 1rem;
      padding-right: 10rem;
    }
  } /* input.email-field */

  input.submit-button {
    background-color: $color__lincedgegreen;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #ffffff;
    font-size: 1rem;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    @include desktop {
      font-size: 1.25rem;
      width: auto;
    }
  } /* input.submit-button */

  .subscription-condition-group {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  } /* .subscription-condition-group */

  .subscription-condition {
    align-self: center;
    color: $color__lincedgeblue;
    font-size: 1rem;
    margin: 1.5rem;
    @include desktop {
      font-size: 1.15rem;
    }
  } /* subscription-condition */

} /* .page-template-price */