.page-template-price {

  .pricing-plans-container {
    display: none;
    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
    }
  } /* .pricing-plan-container */

  .pricing-plan-content-container {
    @include desktop {
      img {
        align-self: center;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #ffffff; 
      border: 1px solid #ffffff;
      border-radius: 10px;
      width: 32%;
    }
  } /* .pricing-plan-content-container */

  p {
    @include desktop {
      align-self: center;
      display: flex;
      flex-direction: column;
    }
  } /* p */
  
  .pricing-plan-title {
    @include desktop {
      color: $color__lincedgeblue;
      font-weight: bold;
      font-size: 1.5rem;
      text-transform: uppercase;
    }
    @media screen and (min-width: 950px) {
      font-size: 2rem;
    }
  } /* .pricing-plan-title */

  .pricing-plan-description {
    @include desktop {
      color: $color__text-main;
      font-size: 1.15rem;
      line-height: 1.5;
      margin: 0 15%;
    }
  } /* .pricing-plan-description */

  .pricing-plan-rate {
    @include desktop {
      color: $color__text-main;
      font-size: 1.25rem;
      line-height: 1;
    }
  } /* .pricing-plan-rate */

  .pricing-plan-button {
    @include desktop {
      align-self: center;
      margin-bottom: 15%;
      background-color: $color__lincedgegreen;
      border-radius: 30px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      color: #ffffff;
      font-size: 1.25rem;
      padding: 0.75rem 2rem;
      text-transform: uppercase;
      }
    } /* .pricing-plan-button */


  .subscription-description-container {
    @include desktop {
      margin-top: 3rem;
    }
    .subscription-description {
      color: $color__lincedgeblue;
      font-size: 1.25rem;
      font-weight: bold;
      margin: 0 1.5rem;
      text-align: center;
      @include desktop {
        font-size: 1.5rem;
      }
    } /* .subscription-description */
  } /* .subscription-description-container */



  .subscription-form-container {
    margin: 2rem auto;
    @include desktop {
      display: flex;
      justify-content: center;
    }
  }

  .subscription-form-content-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    @include desktop {
      margin: 1rem;
    }
  } /* .subscribe-container */

  input.email-field {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 10rem;
    @include desktop {
      width: auto;
      padding-left: 1rem;
      padding-right: 10rem;
    }
  } /* input.email-field */

  input.submit-button {
    background-color: $color__lincedgegreen;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #ffffff;
    font-size: 1rem;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    @include desktop {
      font-size: 1.25rem;
      width: auto;
    }
  } /* input.submit-button */

  .subscription-condition-container {
    .subscription-condition {
      align-self: center;
      color: $color__lincedgeblue;
      font-size: 1rem;
      margin: 0 1.5rem;
      @include desktop {
        font-size: 1.15rem;
      }
    } /* subscription-condition */
  } /* .subscription-condition-group */




} /* .page-template-price */