.page-template-index{
    #benefit-desktop{
        display:none;
        @include desktop{
            display:block;
            display:flex;
            flex-wrap:wrap;
            img{
                width:65%;
            }
            .benefit-text-container{
                width:50%;
            }
            .benefits-text{
                width:50%;
                margin-left:10%;
            }
        }
    }
    .button-container{
        display: flex;
        justify-content: center;

        button{
            width:40%;
            height:40px;

        }
        
        .button-feature{

            background-color:white;
                color:$color__lincedgeblue;
           
        }
        
        .button-benefit{
            background-color:white;
            color:$color__lincedgeblue;
         
        }
        .button-active{
            background-color:$color__lincedgeblue;
            color:white;

        
        }
    
        
        @include desktop{
            display:none;
        }
    }
    .entry-title{
        display:none;
    }
    .benefit-title,.feature-title{
        
        text-transform:uppercase;
        margin-top:5%;
        text-align:center;
        font-weight:bold;
        color:$color__lincedgeblue;
        font-size:24px;
        margin-bottom:5%;
        @include desktop{
            font-size: 48px;
        }
    }
    .benefits-content-container{
        display:none;
    }
    .carousel-2{
        
        min-height:500px;
        width:100%;
        margin-bottom:60%;
        .benefits-title{
        margin-top:20px;
        font-weight:bold;
        color:$color__lincedgeblue;
        font-size:18px;
        
        }
        .benefit-image{
            text-align: center;
            margin-left:5%;
            margin-right:5%;
        }
        .benefits-text{
           width:90%;
           font-size:18px;
           line-height:30px;

        }
        .carousel-cell{
            width:100%;
       .title-text-con{
           margin-left:7%;
       }
        }
        .flickity-page-dots{
            bottom: -20px;
        }
        .flickity-button{
            display:none;
        }
    }

  
    .white-back{
        @include desktop{
            background-color:white;
            position:absolute;
            margin-top:7%;
            margin-left:2%;
            width:75%;
            height:65%;
            z-index:-1;

        }
    }
    .features-content-container{
        .features-inner-container{

            margin-left:15%;
            margin-right:13%;


           
            @include desktop{
                display:flex;
            flex-direction:row;
            .feature-text-container{
                display:flex;
                max-height:700px;
                flex-direction:column;
                justify-content:flex-start;
                margin-left:5%;
                margin-top:13%;
           

                
     
            }
            }
           
            .features-title,.benefits-title{
                font-weight:bold;
                color:$color__lincedgeblue;
                font-size:18px;
                @include desktop{
                    letter-spacing: 1px;
                    font-size:40px;
                    font-weight:normal;
                }
        
        
            }
            .features-text,.benefits-text{

               
    
            }
        }
        .testimonial{
           margin-top:10rem;
        }

        .features-title{
            margin-top:20px;
        }
        .carousel{
            min-height:500px;
            width:100%;

            margin-bottom: 50px;
            .benefits-title{
            margin-top:12%;
            font-weight:bold;
            color:$color__lincedgeblue;
            font-size:18px;
            
            }
            .features-text{
               width:90%;
               font-size:18px;
               line-height:30px;
               @include desktop{
                line-height:40px;
        
                }
    
            }
            .carousel-cell{
                width:100%;
           .title-text-con{
               margin-left:7%;
           }
            }
            .flickity-page-dots{
                bottom: -20px;
            }
            .flickity-button{
                display:none;
                @include desktop{
                    display:block;
                    background-color:$color__lincedgeblue;
                    .flickity-button-icon{
                        fill:white;
                    }
                }
            }
        }

    }
    .experience-title{
        font-size:24px;
        text-align:center;
        margin-top:12%;
        color:$color__lincedgeblue;
  
    }
    .signup-product{
        border-radius: 30px;
        height: 52px;
        width: 240px;
        text-transform: uppercase;
        font-size: 18px;
        background-color: #97c13b;

        font-weight: 700;
        display:flex;
        justify-content: center;
        align-items:center;
        margin:8% auto;
            a{
                text-decoration: none;
                color: #fff;
            }
    }
}