.page-template-index{
    #benefit-desktop{
        display:none;
    }
    .button-container{
        display: flex;
        justify-content: center;

        button{
            width:40%;
            height:40px;

        }
        
        .button-feature{

            background-color:white;
                color:$color__lincedgeblue;
           
        }
        
        .button-benefit{
            background-color:white;
            color:$color__lincedgeblue;
         
        }
        .button-active{
            background-color:$color__lincedgeblue;
            color:white;

        
        }
    
        
        @include desktop{
            display:none;
        }
    }
    .entry-title{
        display:none;
    }
    .benefit-title,.feature-title{
        text-transform:uppercase;
        margin-top:5%;
        text-align:center;
        font-weight:bold;
        color:$color__lincedgeblue;
        font-size:24px;
        margin-bottom:5%;
    }
    .benefits-content-container{
        display:none;
    }
    .carousel-2{
        
        min-height:500px;
        width:100%;
        margin-bottom:60%;
        .benefits-title{
        margin-top:20px;
        font-weight:bold;
        color:$color__lincedgeblue;
        font-size:18px;
        
        }
        .benefit-image{
            text-align: center;
            margin-left:5%;
            margin-right:5%;
        }
        .benefits-text{
           width:90%;
           font-size:18px;
           line-height:30px;

        }
        .carousel-cell{
            width:100%;
       .title-text-con{
           margin-left:7%;
       }
        }
        .flickity-page-dots{
            bottom: -20px;
        }
        .flickity-button{
            display:none;
        }
    }

    .features-inner-container{
        margin-left:8%;
        margin-right:13%;
        .features-title,.benefits-title{
            font-weight:bold;
            color:$color__lincedgeblue;
            font-size:18px;
    
    
        }
        .features-text,.benefits-text{
            line-height:25px;

        }
    }

    .features-content-container{
        .testimonial{
           margin-top:10rem;
        }

        .features-title{
            margin-top:20px;
        }
        .carousel{
            min-height:500px;
            width:100%;

            margin-bottom: 50px;
            .benefits-title{
            margin-top:12%;
            font-weight:bold;
            color:$color__lincedgeblue;
            font-size:18px;
            
            }
            .features-text{
               width:90%;
               font-size:18px;
               line-height:30px;
    
            }
            .carousel-cell{
                width:100%;
           .title-text-con{
               margin-left:7%;
           }
            }
            .flickity-page-dots{
                bottom: -20px;
            }
            .flickity-button{
                display:none;
            }
        }

    }
    .experience-title{
        font-size:24px;
        text-align:center;
        margin-top:12%;
        color:$color__lincedgeblue;
  
    }
    .signup-product{
        border-radius: 30px;
        height: 52px;
        width: 240px;
        text-transform: uppercase;
        font-size: 18px;
        background-color: #97c13b;

        font-weight: 700;
        display:flex;
        justify-content: center;
        align-items:center;
        margin:8% auto;
            a{
                text-decoration: none;
                color: #fff;
            }
    }
}