.page-template-index{
    .site-content{
        height:100%;
    }
    
    #benefit-desktop{
        display:none;
        @include desktop{
            margin-left:11%;
            display:flex;
            flex-wrap:wrap;
            .benefit-title-desktop{
                font-size:40px;
                color:$color__lincedgeblue;
                margin-left:4%;
            }
            .benefit-back{
                width:34%;
                background-color:white;
                z-index:-1;
                height:80%;
                margin-left:-1.5%;
                margin-top:13%;
                position:absolute;
                border-radius:10px;
            }
            img{
                width:70%;
            }
            .benefit-text-container{
                z-index:3;
                width:50%;
            }
            .benefits-text{
                width:60%;
                font-size:15px;
                line-height:36px;
                margin-left:5%;
                margin-bottom:25%;
            }
        }
    }// end #benefit-desktop
    .button-container{
        display: flex;
        justify-content: center;
        padding-top: 1rem;

        button {
            width:40%;
            height:40px;
        }
        
        .button-feature{

            background-color:white;
                color:$color__lincedgeblue;
           
        }
        
        .button-benefit{
            background-color:white;
            color:$color__lincedgeblue;
         
        }
        .button-active{
            background-color:$color__lincedgeblue;
            color:white;

        
        }
    
        
        @include desktop{
            display:none;
        }
    }
    .entry-title-benefits {
        display: none;
        @include desktop {
            display: block;
        }
    }
    .benefit-title,.feature-title{
        
        text-transform:uppercase;
        text-align:center;
        font-weight:bold;
        color:$color__lincedgeblue;
        font-size:1.5rem;
        padding-top: 2rem;
        margin-bottom:5%;
        @include desktop{
            font-size: 3rem;
            padding-top: 3rem;
        }
    }
    .benefits-content-container{
        display:none;
    }
    .carousel-2{
        
        min-height:500px;
        width:100%;
        margin-bottom:60%;
        .benefits-title{
        margin-top:20px;
        font-weight:bold;
        color:$color__lincedgeblue;
        font-size:18px;
        
        }
        .benefit-image{
            text-align: center;
            margin-left:5%;
            margin-right:5%;
        }
        .benefits-text{
           width:90%;
           font-size:18px;
           line-height:30px;

        }
        .carousel-cell{
            width:100%;
       .title-text-con{
           margin-left:7%;
       }
        }
        .flickity-page-dots{
            bottom: -20px;
        }
        .flickity-button{
            display:none;
        }
    }

  
    .white-back{
        @include desktop{
            background-color:white;
            position:absolute;
            margin-top:7%;
            margin-left:2%;
            width:75%;
            height:65%;
            z-index:-1;

        }
    }
    .features-content-container{
        display:block;
        .features-inner-container{

            margin-left:15%;
            margin-right:13%;


           
            @include desktop{
                display:flex;
            flex-direction:row;
            .feature-text-container{
                display:flex;
                max-height:700px;
                flex-direction:column;
                justify-content:flex-start;
                margin-left:5%;
                margin-top:13%;
           

                
     
            }
            }
           
            .features-title,.benefits-title{
                font-weight:bold;
                color:$color__lincedgeblue;
                font-size:18px;
                @include desktop{
                    letter-spacing: 1px;
                    font-size:40px;
                    font-weight:normal;
                }
        
        
            }
            .features-text,.benefits-text{

               
    
            }
        }
        .testimonial{
            margin-top: 10rem;
            @media screen and (min-width: 350px) {
                margin-top:8rem;
            }
           @include desktop {
               margin-top: 5rem;
           }
        }

        .features-title{
            margin-top:20px;
        }
        .carousel{
            min-height:500px;
            width:100%;

            margin-bottom: 50px;
            .benefits-title{
            margin-top:12%;
            font-weight:bold;
            color:$color__lincedgeblue;
            font-size:18px;
            
            }
            .features-text{
               width:90%;
               font-size:18px;
               line-height:30px;
               @include desktop{
                line-height:40px;
        
                }
    
            }
            .carousel-cell{
                width:100%;
           .title-text-con{
               margin-left:7%;
           }
            }
            .flickity-page-dots{
                bottom: -20px;
            }
            .flickity-button{
                display:none;
                @include desktop{
                    display:block;
                    background-color:$color__lincedgeblue;
                    .flickity-button-icon{
                        fill:white;
                    }
                }
            }
        }

    }
    .experience-container {
        text-align: center;
    }
    .experience-title{
        color:$color__lincedgeblue;
        margin-top:10%;
        font-size: 1.5rem;
        @include desktop{
        margin-top:5%;
        font-size: 2.5rem;
        }
    }
    .sign-up-product,.sign-up-product-desktop{
        @include linc-button-style;
    }
    .sign-up-product{
        @include desktop{
            display:none;
        }
    }
    .sign-up-product-desktop{
        display:none;
        @include desktop{
            display:block;
            a{
                display: flex;
                justify-content: center;
                padding:12px;
            }
        }
    }
    .testimonial-desktop{
        display:none;
        @include desktop{
            display:block
        }
    }
}