.page-id-17 {
  .site-content {
    height: 100%;
  } /* .site-content */
  .button-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    @include desktop {
      display: none;
    }
    button {
      width: 40%;
      height: 40px;
    } /* button */
    .button-feature {
      background-color: white;
      color: $color__lincedgeblue;
    } /* .button-feature */
    .button-benefit {
      background-color: white;
      color: $color__lincedgeblue;
    } /* .button-benefit */
    .button-active {
      background-color: $color__lincedgeblue;
      color: white;
    } /* .button-active */
  }  /* .button-container */
  .features-content-container {
    display: block;
    .features-inner-container {
      margin-left: 15%;
      margin-right: 13%;
      @include desktop {
        display: flex;
        flex-direction: row;
        .feature-text-container {
          display: flex;
          max-height: 700px;
          flex-direction: column;
          justify-content: flex-start;
          margin-left: 5%;
          margin-top: 13%;
        } /* .feature-text-container */
      }
      .features-title,
      .benefits-title {
        font-weight: bold;
        color: $color__lincedgeblue;
        font-size: 18px;
        margin-top: 20px;
        @include desktop {
          letter-spacing: 1px;
          font-size: 40px;
          font-weight: normal;
        }
      } /* .features-title .benefits-title */
      .features-text,
      .benefits-text {}
    } /* .features-inner-container */
    .carousel {
      min-height: 500px;
      width: 100%;
      margin-bottom: 50px;
      .benefits-title {
        margin-top: 12%;
        font-weight: bold;
        color: $color__lincedgeblue;
        font-size: 18px;
      } /* .benefits-title */
      .features-text {
        width: 90%;
        font-size: 18px;
        line-height: 30px;
        @include desktop {
          line-height: 40px;
        }
      } /* .features-text */
      .carousel-cell {
        width: 100%;
        .title-text-con {
          margin-left: 7%;
        } /* .title-text-con */
      } /* .carousel-cell */
      .flickity-page-dots {
        bottom: -20px;
      } /* .flickity-page-dots */
      .flickity-button {
        display: none;
        @include desktop {
          display: block;
          background-color: $color__lincedgeblue;
          .flickity-button-icon {
            fill: white;
          } /* .flickity-button-icon */
        }
      } /* .flickity-button */
    } /* .carousel */
  } /* .features-content-container */

  .entry-title-benefits {
    display: none;
    @include desktop {
      display: block;
    }
  } /* .entry-title-benefits */
  a.anchor-desktop#benefit {
    display: none;
    @include desktop {
      display: block;
    }
    position: relative;
    top: -108px;
    visibility: hidden;
  }
  #benefit-desktop {
    display: none;
    @include desktop {
      margin-left: 11%;
      display: flex;
      flex-wrap: wrap;
      .benefit-text-container {
        z-index: 3;
        width: 50%;
      } /* .benefits-text-container */
      .benefit-back {
        width: 34%;
        background-color: white;
        z-index: -1;
        height: 500px;
        margin-left: -1.5%;
        margin-top: 13%;
        position: absolute;
        border-radius: 6px;
      } /* .benefit-back */
      .benefit-title-desktop {
        font-size: 40px;
        color: $color__lincedgeblue;
        margin-left: 4%;
      } /* .benefit-title-desktop */
      img {
        width: 70%;
      } /* img */
      .benefits-text {
        width: 60%;
        font-size: 15px;
        line-height: 36px;
        margin-left: 5%;
        margin-bottom: 25%;
      } /* .benefits-text */
    }
  } /* #benefits-desktop */
  .testimonial-desktop {
    display: none;
    @include desktop {
      display: block
    }
  } /* .testimonial-desktop */
  .benefits-content-container {
    display: none;
    .benefit-title {
      padding: 1.5rem 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.5rem;
      color: $color__lincedgeblue;
    } /* .benefits-title */
    .carousel-2 {
      min-height: 500px;
      width: 100%;
      margin-bottom: 50px;
      .carousel-cell {
        width: 100%;
        .benefits-image {
          text-align: center;
          margin-left: 5%;
          margin-right: 5%;
        } /* .benefits-image */
        .title-text-con {
          margin-left: 7%;
        } /* .title-text-con */
      } /* .carousel-cell */
      .benefits-title {
        margin-top: 20px;
        font-weight: bold;
        color: $color__lincedgeblue;
        font-size: 18px;
      } /* .benefits-title */
      .benefits-text {
        width: 90%;
        font-size: 18px;
        line-height: 30px;
      } /* .benefits-text */
      .flickity-page-dots {
        bottom: -20px;
      } /* .flickity-page-dots */
      .flickity-button {
        display: none;
      } /* .flickity-button */
    } /* .carousel-2 */
  } /* .benefits-content-container */
  .white-back {
    @include desktop {
      background-color: white;
      border-radius: 6px;
      position: absolute;
      margin-top: 7%;
      margin-left: 2%;
      width: 75%;
      height: 65%;
      z-index: -1;
    }
  } /* .white-back */
  .experience-container {
    text-align: center;
    @include desktop {
      margin-top: 5%;
    }
    .experience-title {
      color: $color__lincedgeblue;
      margin: 0;
      font-size: 1.5rem;
      @include desktop {}
      font-size: 2.5rem;
    } /* .experience-title */
    p.mobile {
      @include desktop {
        display: none;
      }
    } /* .mobile */
    p.desktop {
      display: none;
      @include desktop {
        display: block;
      }
    } /* .desktop */
  } /* .experience-container */
} /* .page-id-17 */