// Thank You page
.page-id-229{
    .thankyou-text{
        text-align:center;
        font-size:30px;
    }
} // .page-id-220

.page-id-284{
    .thankyou-text{
        text-align:center;
        font-size:30px;
    }
    .back-home-button{
        margin:0 auto;
        margin-top:8%;
        margin-bottom:20%;
        border-radius: 30px;
        height:52px;
        width:240px;
        text-transform:uppercase;
        font-size:18px;
        background-color:$color__lincedgegreen;
        color:white;
        font-weight:bold;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        a{
            text-decoration:none;
            color:white;
            display:flex;
            justify-content: center;
            padding:12px;
        }
    }

}



// Sign Up page
.page-id-11 {
    .entry-content {
        margin: 0 auto;
        @include desktop {
        width: 75%;
        }
    }

    // Desktop only
    .signup-desktop{
        display:none;
        @include desktop{
            display:block;
            .signup-desktop-text{
                text-align:center;
                font-size:20px;
            }
            .gform_wrapper{
                form{
                    margin:0;
                }

                .gfield_label{
                    font-weight:normal;
                    margin-left: 13%;
                    display:flex;
                    justify-content:flex-start;
                    
                }
                width:100%;
                margin-top:3%;
                display:flex;
                flex-direction:column;
                input.medium{
                    width:75%;
                    box-shadow: 0 0 3px #ddd;
                    margin-left: 13%;
        
                }
                .gform_button{
                    @include linc-button-style;
                     color:white;
                }
            } // .gform_wrapper
        }
    } // .signup-desktop

    // Mobile only
    .signup-mobile{
        display:block;
        @include desktop{
            display:none;
        }
        .signup-policy{
            font-size:0.85rem;
            text-align:center;
            margin-top:10%;
            margin-bottom:10%;
        }
        .signup-text{
            width:75%;
            text-align:center;
            margin:0 auto;
            font-size:1rem;
            line-height:30px;
        }
        .gform_page_fields{
            .mobile-signup-title{
                font-weight:bold;
                color:$color__lincedgeblue;
                text-align:center;
            }
            .gfield{
                color:$color__lincedgeblue;
                line-height:10px;
                margin-top:5%;
                input {
                    width:90%;
                    border-radius:10px;
                }
            }
        }
        .name-signup{
            text-align: center;
        }
        .gform_footer{
            text-align: center;
        }
        #gform_page_10_1 {
            .gform_next_button {
                @include linc-button-style;
                border: none;
                margin: 0 auto !important;
            }
        }
        #gform_page_10_2 {
            .gform_previous_button, .gform_next_button {
                @include linc-button-style;
                border: none;
            }
        }
        #gform_page_10_3 {
            .gform_previous_button, .gform_button {
                @include linc-button-style;
                border: none;
            }
        }
    } // .signup-mobile


    .site-footer{
        margin-top:0;
    }

    .site-content {
    height:100%;
    }
    
} // Sign Up Page