.single-post{
 
.entry-meta{
    position:absolute;
    background-color:$color__lincedgeblue;
    opacity: 0.95;
    bottom:0px;
    left:0px;
    width:90%;
    height:60%;
    margin:0;
    bottom:20px;
    color:white;
}


}