.single-post{
    .site-content{
        height:100%;
    .entry-content{
        position:relative;
    }
    .entry-content{
        text-align:left;
        margin-left:5%;
.entry-title{
    font-size:2.5rem;
    margin:0;
    padding:0;
    text-align:left;
    a{
        text-decoration:none;
        color:$color__lincedgeblue;
    }   
}
.category-title{
    font-size:1.7rem;
    
    a{
        text-decoration:none;
        color:$color__lincedgegreen;
        text-transform:uppercase;
    }
}

.entry-meta{
    position:absolute;
    background-color:$color__lincedgeblue;
    opacity: 0.95;
    left:0px;
    width:94%;
    height:35%;
    margin:0;
    bottom:130px;
    color:white;
    display:flex;
    align-items:center;
    font-size:1rem;
    justify-content:center;
    @include desktop{
        justify-content:flex-start;
        width:30%;
        
    }
    
   
}

    }
    .image-container{
    
        margin-left:5%;
        margin-right:5%;
        img{
            margin-top:5%;
            width:100%;
            object-fit:cover;
            @include desktop{
     
                width:100%;
                height:80vh;
             
            }
        }
        }
.entry-content1{
    margin-left:5%;
    margin-right:5%;
}
.navigation{
   display:none;
}
.comments-area{
    color:$color__lincedgeblue;

    margin-left:5%;
    width:90%;
    .logged-in-as{
        a{
        text-decoration:none;
        color:$color__lincedgeblue;
        }
    }
    .comment-form-comment{
        color:$color__lincedgeblue;
    }
    .submit{
        align-self: center;
        margin-bottom: 5%;
        background-color: $color__lincedgegreen;
        border-radius: 30px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        color: #ffffff;
        font-size: 0.8rem;
        padding: 0.75rem 2rem;
        text-transform: uppercase;
    }
}
    
@media screen and (max-width: 355px) {
    .entry-meta{
        span{
        font-size:0.8rem;
        }
    }
}

}
.site-footer{
    margin-top:0px;
}



}