/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  @include font-size(1);
  line-height: $font__line-height-body;
} /* body button input select textarea */

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
} /* h1 h2 h3 h4 h5 h6 */

/* Copy */

p {
  margin-bottom: $base__space-unit;
} /* p */

dfn,
cite,
em,
i {
  font-style: italic;
} /* dfn cite em i */

blockquote {
  margin: 0 $base__space-unit;
} /* blockquote */

address {
  margin: 0 0 $base__space-unit;
} /* address */

pre {
  background: $color__background-pre;
  font-family: $font__pre;
  @include font-size(0.9375);
  line-height: $font__line-height-pre;
  margin-bottom: 1.6rem;
  max-width: 100%;
  overflow: auto;
  padding: 1.6rem;
} /* pre */

code,
kbd,
tt,
var {
  font-family: $font__code;
  @include font-size(0.9375);
} /* code kbd tt var */

abbr,
acronym {
  border-bottom: 1px dotted $color__border-abbr;
  cursor: help;
} /* .abbr acronym */

mark,
ins {
  background: $color__background-ins;
  text-decoration: none;
} /* mark ins */

big {
  font-size: 125%;
} /* big */